---
version: 2.1

executors:
  # Whenever the Go version is updated here, .promu.yml should also be updated.
  golang:
    docker:
    - image: circleci/golang:1.13

jobs:

  test:
    executor: golang
    steps:
    - checkout
    - run: go mod vendor
    - run: go mod download
    - run: make all

  build:
    machine:
      image: ubuntu-1604:201903-01
    working_directory: /home/circleci/.go_workspace/src/github.com/niedbalski/openstack-exporter

    steps:
    - checkout
    - run: sudo snap install go --classic
    - run: GO111MODULE=on /snap/bin/go mod vendor
    - run: GO111MODULE=on /snap/bin/go mod download
    - run: make promu
    - run: promu crossbuild -v
    - persist_to_workspace:
        root: .
        paths:
        - .build
    - store_artifacts:
        path: .build
        destination: /build

  release:
    executor: golang
    steps:
      - checkout
      - run: mkdir -v -p ${HOME}/bin
      - run: curl -L 'https://github.com/aktau/github-release/releases/download/v0.7.2/linux-amd64-github-release.tar.bz2' | tar xvjf - --strip-components 3 -C ${HOME}/bin
      - run: echo 'export PATH=${HOME}/bin:${PATH}' >> ${BASH_ENV}
      - attach_workspace:
          at: .
      - run: make promu
      - run: promu crossbuild tarballs
      - run: promu checksum .tarballs
      - run: |
          github-release release --user ${CIRCLE_PROJECT_USERNAME} --repo ${CIRCLE_PROJECT_REPONAME} --tag ${CIRCLE_TAG} || true
      - run: promu release .tarballs
      - store_artifacts:
          path: .tarballs
          destination: releases

  docker_master:
    executor: golang
    steps:
    - checkout
    - setup_remote_docker
    - attach_workspace:
        at: .
    - run: make docker DOCKER_REPO=quay.io/niedbalski DOCKER_ARCHS="amd64 arm64"
    - run: docker images
    - run: docker login -u $QUAY_LOGIN -p $QUAY_PASSWORD quay.io
    - run: docker run -i -t --entrypoint "sh" quay.io/niedbalski/openstack-exporter-linux-amd64:master -c 'test -e /bin/openstack-exporter; exit $?'
    - run: make docker-publish DOCKER_REPO=quay.io/niedbalski DOCKER_ARCHS="amd64 arm64"

  docker_tag:
    executor: golang
    steps:
    - checkout
    - setup_remote_docker
    - attach_workspace:
        at: .
    - run: make docker DOCKER_IMAGE_TAG=$CIRCLE_TAG DOCKER_REPO=quay.io/niedbalski DOCKER_ARCHS="amd64 arm64"
    - run: docker login -u $QUAY_LOGIN -p $QUAY_PASSWORD quay.io
    - run: |
        if [[ "$CIRCLE_TAG" =~ ^v[0-9]+(\.[0-9]+){2}$ ]]; then
          make docker-tag-latest DOCKER_IMAGE_TAG="$CIRCLE_TAG" DOCKER_REPO=quay.io/niedbalski DOCKER_ARCHS="amd64 arm64"
        fi
    - run: docker run -i -t --entrypoint "sh" quay.io/niedbalski/openstack-exporter-linux-amd64:$CIRCLE_TAG -c 'test -e /bin/openstack-exporter; exit $?'
    - run: make docker-publish DOCKER_IMAGE_TAG="$CIRCLE_TAG" DOCKER_REPO=quay.io/niedbalski DOCKER_ARCHS="amd64 arm64"

  snap_master_build:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run: sudo apt -yyq update
      - run: sudo apt -yyq install snapd
      - run: sudo apt-get remove --auto-remove golang golang-go
      - run: sudo snap refresh core
      - run: sudo snap refresh core18
      - run: sudo snap install go --classic
      - run: sudo snap install snapcraft --classic
      - run: sed -i -e "s/\$VERSION/latest/g" snap/snapcraft.yaml
      - run: sed -i -e "s/\$GRADE/devel/g" snap/snapcraft.yaml
      - run:
          name: "Build edge snap"
          command: PATH=/snap/bin /snap/bin/snapcraft --destructive-mode

      - persist_to_workspace:
          root: .
          paths:
            - "*.snap"

  snap_master_publish:
    docker:
      - image: cibuilds/snapcraft:stable
    steps:
      - attach_workspace:
          at: .
      - run: sudo apt -yyq update
      - run:
          name: "Publish edge snap to store"
          command: |
            mkdir .snapcraft
            echo $SNAPCRAFT_LOGIN_FILE | base64 --decode --ignore-garbage > .snapcraft/snapcraft.cfg
            /snap/bin/snapcraft push --release=edge *.snap

  snap_tag_build:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - run: sudo apt -yyq update
      - run: sudo apt -yyq install snapd
      - run: sudo snap refresh core
      - run: sudo snap refresh core18
      - run: sudo snap install go --classic
      - run: sudo snap install snapcraft --classic
      - run: sed -i -e "s/\$VERSION/${CIRCLE_TAG}/g" snap/snapcraft.yaml
      - run: sed -i -e "s/\$GRADE/stable/g" snap/snapcraft.yaml
      - run:
          name: "Build edge snap"
          command: /snap/bin/snapcraft --destructive-mode

      - persist_to_workspace:
          root: .
          paths:
            - "*.snap"

  snap_tag_publish:
    docker:
      - image: cibuilds/snapcraft:stable
    steps:
      - attach_workspace:
          at: .
      - run:
          name: "Publish edge snap to store"
          command: |
            mkdir .snapcraft
            echo $SNAPCRAFT_LOGIN_FILE | base64 --decode --ignore-garbage > .snapcraft/snapcraft.cfg
            /snap/bin/snapcraft push --release=stable *.snap

workflows:
  version: 2
  openstack_exporter:
    jobs:
    - test:
        filters:
          tags:
            only: /.*/
    - build:
        filters:
          tags:
            only: /.*/
        requires:
          - test
    - release:
        requires:
          - test
          - build
        filters:
          tags:
            only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
          branches:
            ignore: /.*/

    - snap_master_build:
        requires:
          - test
        filters:
          branches:
            only: master

    - snap_master_publish:
        requires:
          - snap_master_build
        filters:
          branches:
            only: master

    - snap_tag_build:
        requires:
          - test
        filters:
          tags:
            only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
          branches:
            ignore: /.*/

    - snap_tag_publish:
        requires:
          - snap_tag_build
        filters:
          tags:
            only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
          branches:
            ignore: /.*/

    - docker_master:
        requires:
          - test
          - build
        filters:
          branches:
           only: master

    - docker_tag:
        requires:
          - test
          - build
        filters:
          tags:
            only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
          branches:
            ignore: /.*/
